body {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.myb {
  border: 5px solid black;
}
.radius {
  border-radius: 30px;
}
img {
  border-radius: 20px;
}
.cart-container {
  font-size: 3em;
}
.content-page
{
  margin-top: 150px;
}
.md {
  appearance: none;
  background-color: #ffffff;
  border-radius: 40em;
  border-style:none;
  box-shadow: #adcfff 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  

  font-family: -apple-system, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 0;
  outline: none;
  /* padding: 1rem 1.3rem; */
  quotes: auto;

  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: absolute;
}

.button-73:hover {
  background-color: #ffc229;
  box-shadow: #ff6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-73:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-73 {
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
  }
}
.login {
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;

  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  line-height: 1em;
  max-width: 100px;

  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
}

.login:active,
.login:hover {
  outline: 0;
}

.login {
  background-color: rgb(5, 6, 45);
  padding: 10px;
  border-radius: 6px;
  width: 10px;

  transition: 300ms;
}

.login:hover span {
  background: none;
}

@media (min-width: 768px) {
  .login {
    font-size: 20px;
    min-width: 100px;
    text-align: center;
  }
}

/* .bg {
  background-color: ;
} */

.text {
  font-size: 15px;
  
}
.bsize {
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;

  font-family: Phantomsans, sans-serif;
  font-size: 15px;

  max-width: 40px;

  padding: auto;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  margin: 0px;
}

.bsize:active,
.bsize:hover {
  outline: 0;
}

.bsize {
  background-color: rgb(5, 6, 45);
  padding: 10px;
  border-radius: 6px;
  width: 10px;

  transition: 300ms;
}

.bsize:hover span {
  background: none;
}

@media (min-width: 768px) {
  .bsize {
    font-size: 15px;
    min-width: 20px;
    text-align: center;
  }
}
.bgc{
     background:url(/ai.jpg)  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
  /* filter: brightness(120%);
} */
}
.box { 
 background-color:aqua;
 
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
}
.plusminusb {
  width: 30px;
}
.cart {
  width: fit-content;
  border-radius: 20%;
  font-size: 1em;
}
.size {
  height: 250px;
}
.bgi {
   /* background-image: url(/frimg.jfif);  */
   background-image: url(/backi.jpg) ;
   filter: brightness(100%);

   
   /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;   */
}
.logobr{
  border-radius: 100%;
  border: rgb(7, 4, 4);
  padding: 8px;
  background-color: #5b42f3;
}

 