body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
 .myb {
   border: 3px solid black; 
} 
.radius {
  border-radius: 20px;
}
img {
  border-radius: 20px;
}
.cart-container {
  /* font-size: 3em; */
}
.content-page {
  margin-top: 150px;
}
.md {
  appearance: none;
  background-color: #D4D4D4;
  border-radius: 40em;
  border-style: none;
  /* box-shadow: #adcfff 0 -12px 6px inset; */
  box-sizing: border-box;
  color: BLACK;
  cursor: pointer;

  width: 100px;
  font-family: -apple-system, sans-serif;
  /* font-size: 1.2rem; */
  /* font-weight: 700; */
  /* letter-spacing: -0.24px; */
  margin: 0;
  outline: none;
  /* padding: 1rem 1.3rem; */
  quotes: auto;

  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: absolute;
}

.button-73:hover {
  background-color: #ffc229;
  box-shadow: #ff6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-73:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-73 {
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
  }
}

 
  .login {
    align-items: center;
    appearance: none;
    background-color:white ;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 15px;
    font-weight: 500;
    /* height: 48px; */
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    /* max-width: 100%; */
    overflow: visible;
    padding: 5px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* width: auto; */
    will-change: transform,opacity;
    z-index: 0;
  }
  
  .login:hover {
    background: #F6F9FE;
    color: #174ea6;
  }
  
  .login:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
  }
  
  .login:focus {
    outline: none;
    border: 2px solid #4285f4;
  }
  
  .login:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .login:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
  }
  
  .login:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .login:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
  }
  
  .login:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }




/* .bg {
  background-color: ;
} */

.text {
  font-size: 10px;
}
.bsize {
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;

  font-family: Phantomsans, sans-serif;
  font-size: 10px;
  max-width: 25px;

  padding: auto;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  margin: 0px;
}

.bsize:active,
.bsize:hover {
 outline: 0;
}

.bsize {
  background-color: rgb(5, 6, 45);
  padding-left: 1px;
  padding-right: 1px;
  border-radius: 6px;
  width: 10px;

  transition: 300ms;
}

.bsize:hover span {
  background: none;
}

@media (min-width: 768px) {
  .bsize {
    font-size: 15px;
    min-width: 10px;
    text-align: center;
}
  
}
.bgc {
  /* background: url(download.jpg) no-repeat center fixed  ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  /* filter: brightness(120%);
} */
 
}
.box {
  padding: 10px;
  margin-top: 50px;
  height: max-content;
  /* background-color: #C9FDF2; */
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
}
.boxbg{
  /* background-color:rgb(252, 165, 240); */
/* background-color: #664C36; */
}
.plusminusb {
  width: 30px;
  height: 30px;
  
}
.cart {
  /* width: fit-content; */
  /*border-radius: 20%;
  font-size: 1em;*/
}
.size {
  height: 250px;
}
.bgi {
  /* background-image: url(/frimg.jfif);  */
  /* background-image: url(/backi.jpg);
  filter: brightness(100%); */

  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;   */
  background-color:#B3B3B3;
}
.bg{
 background-color: #D4D4D4;
}
.logobr {
  border-radius: 20%;
  /* border: rgb(7, 4, 4); */
  padding: 9px;
  
}

.name {
  color: white;
  font-size: medium;
  font-weight: 700;
  font-style: italic;
}
.billbox {
  border: 7px solid black;
  border-style: double;

}

@media screen and (max-width: 576px) {
  .mycontainer {
    width: 95%;
  }
}
@media screen and (min-width: 576px) {
  .mycontainer {
    width: 80%;
  }
}
@media screen and (min-width: 768px) {
  .mycontainer {
    width: 70%;
  }
}
@media screen and (min-width: 992px) {
  .mycontainer {
    width: 60%;
  }
}
.b{
  transition: 0.5s ease;
  cursor: pointer;
}
.b:hover{
  transform: scale(1.1);
  
}
.Contain:hover>:not(:hover){
  opacity: 1;
}